gTTS==2.3.1
markdown==3.4.3
openai==0.27.4
openai-whisper @ git+https://github.com/openai/whisper.git@76c901ab8d4558992c44138479c4d69eb52fadcb
psutil==5.9.4
PyAudio==0.2.13
PyAutoGUI==0.9.53
pydub==0.25.1
pynput==1.7.6
streamlit==1.21.0